version: 2.1

orbs:
  buildevents: honeycombio/buildevents@0.2.6

# enable a job when tag created (tag create is ignored by default)
filters_always: &filters_always
  filters:
    tags:
      only: /.*/

# restrict a job to only run when a version tag (vNNNN) is created
filters_publish: &filters_publish
  filters:
    tags:
      only: /^v[0-9].*/
    branches:
      ignore: /.*/

matrix_goversions: &matrix_goversions
  matrix:
    parameters:
      goversion: ["12", "13", "14", "15", "16", "17"]

# Default version of Go to use for Go steps
default_goversion: &default_goversion "16"

executors:
  go:
    parameters:
      goversion:
        type: string
        default: *default_goversion
    working_directory: /home/circleci/go/src/github.com/honeycombio/libhoney-go
    docker:
      - image: cimg/go:1.<< parameters.goversion >>
        environment:
          GO111MODULE: "on"
  github:
    docker:
      - image: cibuilds/github:0.13.0

jobs:
  setup:
    executor: go
    steps:
      - buildevents/start_trace
  watch:
    executor: go
    steps:
      - buildevents/watch_build_and_finish

  test:
    parameters:
      goversion:
        type: string
        default: *default_goversion
    executor:
      name: go
      goversion: "<< parameters.goversion >>"
    steps:
      - buildevents/with_job_span:
          steps:
            - checkout
            - run: go get -v -t -d ./...
            - run: go test -race -v ./...
            - buildevents/add_context:
                field_name: go_version
                field_value: << parameters.goversion >>

  publish_github:
    executor: github
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: "create draft release at GitHub"
          command: ghr -draft -n ${CIRCLE_TAG} -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} ${CIRCLE_TAG}

workflows:
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - setup
      - watch:
          requires:
            - setup
      - test:
          <<: *matrix_goversions
          requires:
            - setup

  build_libhoney:
    jobs:
      - setup:
          <<: *filters_always
      - watch:
          context: Honeycomb Secrets for Public Repos
          filters:
            tags:
              only: /.*/
            branches:
              ignore:
                - /pull\/.*/
                - /dependabot\/.*/
          requires:
            - setup
      - test:
          <<: *filters_always
          <<: *matrix_goversions
          requires:
            - setup
      - publish_github:
          <<: *filters_publish
          context: Honeycomb Secrets for Public Repos
          filters:
            tags:
              only: /^v[0-9].*/
            branches:
              ignore: /.*/
          requires:
            - test

